{
    "openapi": "3.0.0",
    "info": {
        "title": "dryAPI REST API",
        "description": "Decentralized AI inference API for image generation, video processing, audio transcription, and more.",
        "contact": {
            "name": "dryAPI Support",
            "url": "https://dryapi.dev",
            "email": "support@dryapi.dev"
        },
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.dryapi.dev",
            "description": "Production API Server base URL"
        }
    ],
    "paths": {
        "/api/v1/client/aud2video": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting audio2video inference",
                "operationId": "requestAud2Video",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio to video generation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "prompt",
                                    "audio",
                                    "model",
                                    "width",
                                    "height",
                                    "seed",
                                    "frames"
                                ],
                                "properties": {
                                    "prompt": {
                                        "description": "The main prompt for video generation",
                                        "type": "string",
                                        "example": "A beautiful sunset over mountains with dramatic music"
                                    },
                                    "negative_prompt": {
                                        "description": "Elements to avoid in the generated video",
                                        "type": "string",
                                        "example": "blur, darkness, noise",
                                        "nullable": true
                                    },
                                    "audio": {
                                        "description": "Audio file to condition the video generation. Supported formats: MP3, WAV, OGG, FLAC. Maximum file size: 20 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "first_frame_image": {
                                        "description": "Image for the first frame of video (optional). Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "last_frame_image": {
                                        "description": "Image for the last frame of video (optional). Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "width": {
                                        "description": "Width of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "height": {
                                        "description": "Height of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "guidance": {
                                        "description": "Guidance scale for the generation",
                                        "type": "number",
                                        "example": 7.5
                                    },
                                    "steps": {
                                        "description": "Number of inference steps",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "frames": {
                                        "description": "Number of video frames to generate",
                                        "type": "integer",
                                        "example": 97
                                    },
                                    "fps": {
                                        "description": "FPS of generated video",
                                        "type": "integer",
                                        "example": 24
                                    },
                                    "seed": {
                                        "description": "Random seed for generation",
                                        "type": "integer",
                                        "example": 42
                                    },
                                    "model": {
                                        "description": "The model to use for video generation. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "Ltx2_19B_Dist_FP8"
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/aud2video/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for audio2video inference",
                "operationId": "requestAud2VideoPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio to video price calculation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "model",
                                    "width",
                                    "height",
                                    "frames"
                                ],
                                "properties": {
                                    "width": {
                                        "description": "Width of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "height": {
                                        "description": "Height of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "steps": {
                                        "description": "Number of inference steps",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "frames": {
                                        "description": "Number of video frames to generate",
                                        "type": "integer",
                                        "example": 97
                                    },
                                    "fps": {
                                        "description": "FPS of generated video",
                                        "type": "integer",
                                        "example": 24
                                    },
                                    "model": {
                                        "description": "The model to use for video generation. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "Ltx2_19B_Dist_FP8"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for audio2video inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/audiofile2txt": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting audio transcription",
                "operationId": "requestAudioFile2Txt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio transcription parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "audio",
                                    "include_ts"
                                ],
                                "properties": {
                                    "audio": {
                                        "description": "Audio file to transcribe. Supported formats: AAC, MP3, OGG, WAV, WebM, FLAC. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "include_ts": {
                                        "description": "Should transcription include timestamps",
                                        "type": "boolean"
                                    },
                                    "model": {
                                        "description": "The model to use for generation",
                                        "type": "string",
                                        "example": "WhisperLargeV3"
                                    },
                                    "return_result_in_response": {
                                        "description": "If true, the result will be returned directly in the response instead of only download url. Optional parameter.",
                                        "type": "boolean",
                                        "default": false,
                                        "example": false,
                                        "nullable": true
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/audiofile2txt/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting audio transcription price",
                "operationId": "requestAudioFilePrice2Txt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio transcription parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "required": [
                                            "audio",
                                            "include_ts"
                                        ],
                                        "properties": {
                                            "audio": {
                                                "description": "Audio file to transcribe. Supported formats: AAC, MP3, OGG, WAV, WebM, FLAC. Maximum file size: 10 MB.",
                                                "type": "string",
                                                "format": "binary"
                                            },
                                            "include_ts": {
                                                "description": "Should transcription include timestamps",
                                                "type": "boolean"
                                            },
                                            "model": {
                                                "description": "The model to use for generation",
                                                "type": "string",
                                                "example": "WhisperLargeV3"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "required": [
                                            "duration_seconds",
                                            "include_ts"
                                        ],
                                        "properties": {
                                            "duration_seconds": {
                                                "description": "Duration of audio in seconds for price calculation",
                                                "type": "integer",
                                                "example": 120
                                            },
                                            "include_ts": {
                                                "description": "Should transcription include timestamps",
                                                "type": "boolean"
                                            },
                                            "model": {
                                                "description": "The model to use for generation",
                                                "type": "string",
                                                "example": "WhisperLargeV3"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/aud2txt": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting audio transcription (Twitter Spaces)",
                "operationId": "requestAud2Txt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio transcription parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "audio_url",
                                    "include_ts",
                                    "model"
                                ],
                                "properties": {
                                    "audio_url": {
                                        "description": "URL of Twitter Spaces audio to transcribe",
                                        "type": "string",
                                        "example": "https://twitter.com/i/spaces/1nAKEERkeLbKL"
                                    },
                                    "include_ts": {
                                        "description": "Should transcription include timestamps",
                                        "type": "boolean"
                                    },
                                    "model": {
                                        "description": "The model to use for transcription. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "WhisperLargeV3"
                                    },
                                    "return_result_in_response": {
                                        "description": "If true, the result will be returned directly in the response instead of only download url. Optional parameter.",
                                        "type": "boolean",
                                        "default": false,
                                        "example": false,
                                        "nullable": true
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/aud2txt/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for audio to text inference (Twitter Spaces)",
                "operationId": "requestPriceForAud2Text",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio transcription parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "include_ts",
                                    "model"
                                ],
                                "properties": {
                                    "audio_url": {
                                        "description": "URL of Twitter Spaces audio to transcribe (required if duration_seconds not provided)",
                                        "type": "string",
                                        "example": "https://twitter.com/i/spaces/1nAKEERkeLbKL"
                                    },
                                    "duration_seconds": {
                                        "description": "Duration in seconds (required if audio_url not provided)",
                                        "type": "number",
                                        "example": 3600
                                    },
                                    "include_ts": {
                                        "description": "Should transcription include timestamps",
                                        "type": "boolean"
                                    },
                                    "model": {
                                        "description": "The model to use for transcription. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "WhisperLargeV3"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for audio to text inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/balance": {
            "get": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting client current balance.",
                "operationId": "clientBalance",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current client balance.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientInfoResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img2img": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting img2img inference. Accepts either a single image via \"image\" or multiple images via \"images[]\" (mutually exclusive).",
                "operationId": "requestImage2Image",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters. Either \"image\" or \"images[]\" must be provided (not both).",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "prompt",
                                    "model",
                                    "steps",
                                    "seed"
                                ],
                                "properties": {
                                    "prompt": {
                                        "description": "The main prompt for image generation",
                                        "type": "string",
                                        "example": "A beautiful sunset over mountains"
                                    },
                                    "negative_prompt": {
                                        "description": "Elements to avoid in the generated image",
                                        "type": "string",
                                        "example": "blur, darkness, noise",
                                        "nullable": true
                                    },
                                    "image": {
                                        "description": "Single source image to edit. Required if \"images[]\" is not provided. Mutually exclusive with \"images[]\". Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "images[]": {
                                        "description": "Multiple source images for editing. Maximum count is model-dependent (see model specs max_input_images, defaults to 1). Required if \"image\" is not provided. Mutually exclusive with \"image\". Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size per image: 10 MB.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "width": {
                                        "description": "Output image width in pixels. Optional - defaults to first input image width if not specified. Subject to model-specific min/max limits.",
                                        "type": "integer",
                                        "example": 512,
                                        "nullable": true
                                    },
                                    "height": {
                                        "description": "Output image height in pixels. Optional - defaults to first input image height if not specified. Subject to model-specific min/max limits.",
                                        "type": "integer",
                                        "example": 512,
                                        "nullable": true
                                    },
                                    "model": {
                                        "description": "The model to use for image editing. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "QwenImageEdit_Plus_NF4"
                                    },
                                    "loras": {
                                        "description": "Array of LoRA models to apply",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "name",
                                                "weight"
                                            ],
                                            "properties": {
                                                "name": {
                                                    "description": "Name of the LoRA model",
                                                    "type": "string",
                                                    "example": "style_lora"
                                                },
                                                "weight": {
                                                    "description": "Weight of the LoRA model (must be non-negative)",
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "example": 0.75
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "guidance": {
                                        "description": "Guidance scale for the generation",
                                        "type": "number",
                                        "example": 7.5
                                    },
                                    "steps": {
                                        "description": "Number of inference steps",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "seed": {
                                        "description": "Random seed for generation",
                                        "type": "integer",
                                        "example": 42
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img2img/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for img2img inference",
                "operationId": "requestPriceForImage2Image",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "prompt",
                                    "model",
                                    "steps",
                                    "seed"
                                ],
                                "properties": {
                                    "prompt": {
                                        "description": "The main prompt for image generation",
                                        "type": "string",
                                        "example": "A beautiful sunset over mountains"
                                    },
                                    "negative_prompt": {
                                        "description": "Elements to avoid in the generated image",
                                        "type": "string",
                                        "example": "blur, darkness, noise",
                                        "nullable": true
                                    },
                                    "model": {
                                        "description": "The model to use for generation",
                                        "type": "string",
                                        "example": "QwenImageEdit_Plus_NF4"
                                    },
                                    "loras": {
                                        "description": "Array of LoRA models to apply",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "name",
                                                "weight"
                                            ],
                                            "properties": {
                                                "name": {
                                                    "description": "Name of the LoRA model",
                                                    "type": "string",
                                                    "example": "style_lora"
                                                },
                                                "weight": {
                                                    "description": "Weight of the LoRA model (must be non-negative)",
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "example": 0.75
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "guidance": {
                                        "description": "Guidance scale for the generation",
                                        "type": "number",
                                        "example": 7.5
                                    },
                                    "steps": {
                                        "description": "Number of inference steps",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "seed": {
                                        "description": "Random seed for generation",
                                        "type": "integer",
                                        "example": 42
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2img inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img2txt": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting image2text (OCR) inference",
                "operationId": "requestImg2Txt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to text conversion parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "model"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Image file to extract text from. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "model": {
                                        "description": "The OCR model to use for text extraction",
                                        "type": "string",
                                        "example": "Nanonets_Ocr_S_F16"
                                    },
                                    "language": {
                                        "description": "Language code for OCR processing (optional)",
                                        "type": "string",
                                        "example": "en",
                                        "nullable": true
                                    },
                                    "format": {
                                        "description": "Output format for extracted text",
                                        "type": "string",
                                        "enum": [
                                            "text",
                                            "json"
                                        ],
                                        "example": "text",
                                        "nullable": true
                                    },
                                    "return_result_in_response": {
                                        "description": "If true, the result will be returned directly in the response instead of only download url. Optional parameter.",
                                        "type": "boolean",
                                        "default": false,
                                        "example": false,
                                        "nullable": true
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img2txt/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for image2text (OCR) inference",
                "operationId": "requestPriceForImg2Txt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to text conversion parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "required": [
                                            "image",
                                            "model"
                                        ],
                                        "properties": {
                                            "image": {
                                                "description": "Image file to extract text from. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                                "type": "string",
                                                "format": "binary"
                                            },
                                            "model": {
                                                "description": "The OCR model to use for text extraction. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                                "type": "string",
                                                "example": "Nanonets_Ocr_S_F16"
                                            },
                                            "language": {
                                                "description": "Language code for OCR processing (optional)",
                                                "type": "string",
                                                "example": "en",
                                                "nullable": true
                                            },
                                            "format": {
                                                "description": "Output format for extracted text",
                                                "type": "string",
                                                "enum": [
                                                    "text",
                                                    "json"
                                                ],
                                                "example": "text",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "required": [
                                            "width",
                                            "height",
                                            "model"
                                        ],
                                        "properties": {
                                            "width": {
                                                "description": "Width of image in pixels for price calculation",
                                                "type": "integer",
                                                "example": 1920
                                            },
                                            "height": {
                                                "description": "Height of image in pixels for price calculation",
                                                "type": "integer",
                                                "example": 1080
                                            },
                                            "model": {
                                                "description": "The OCR model to use for text extraction. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                                "type": "string",
                                                "example": "Nanonets_Ocr_S_F16"
                                            },
                                            "language": {
                                                "description": "Language code for OCR processing (optional)",
                                                "type": "string",
                                                "example": "en",
                                                "nullable": true
                                            },
                                            "format": {
                                                "description": "Output format for extracted text",
                                                "type": "string",
                                                "enum": [
                                                    "text",
                                                    "json"
                                                ],
                                                "example": "text",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2txt inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img2video": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting image2video inference",
                "operationId": "requestImg2Video",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to video generation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "prompt",
                                    "first_frame_image",
                                    "model",
                                    "width",
                                    "height",
                                    "guidance",
                                    "steps",
                                    "seed",
                                    "frames"
                                ],
                                "properties": {
                                    "prompt": {
                                        "description": "The main prompt for video generation",
                                        "type": "string",
                                        "example": "A beautiful sunset over mountains"
                                    },
                                    "negative_prompt": {
                                        "description": "Elements to avoid in the generated video",
                                        "type": "string",
                                        "example": "blur, darkness, noise",
                                        "nullable": true
                                    },
                                    "first_frame_image": {
                                        "description": "Image for the first frame of video. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "last_frame_image": {
                                        "description": "Image for the last frame of video (optional). Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "width": {
                                        "description": "Width of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "height": {
                                        "description": "Height of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "guidance": {
                                        "description": "Guidance scale for the generation",
                                        "type": "number",
                                        "example": 7.5
                                    },
                                    "steps": {
                                        "description": "Number of inference steps",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "frames": {
                                        "description": "Number of video frames to generate",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "fps": {
                                        "description": "FPS of generated video",
                                        "type": "integer",
                                        "example": 30
                                    },
                                    "seed": {
                                        "description": "Random seed for generation",
                                        "type": "integer",
                                        "example": 42
                                    },
                                    "model": {
                                        "description": "The model to use for video generation. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "Ltxv_13B_0_9_8_Distilled_FP8"
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img2video/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for image2video inference",
                "operationId": "requestImg2VideoPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to video price calculation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "model",
                                    "width",
                                    "height",
                                    "frames",
                                    "steps"
                                ],
                                "properties": {
                                    "width": {
                                        "description": "Width of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "height": {
                                        "description": "Height of the generated video in pixels",
                                        "type": "integer",
                                        "example": 512
                                    },
                                    "steps": {
                                        "description": "Number of inference steps",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "frames": {
                                        "description": "Number of video frames to generate",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "fps": {
                                        "description": "FPS of generated video",
                                        "type": "integer",
                                        "example": 30
                                    },
                                    "model": {
                                        "description": "The model to use for video generation. Available models can be retrieved via the GET /api/v1/client/models endpoint.",
                                        "type": "string",
                                        "example": "Ltxv_13B_0_9_8_Distilled_FP8"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2video inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img-rmbg": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting image background removal inference",
                "operationId": "requestImgRemoveBg",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image background removal parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "model"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Image file to remove background from. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "model": {
                                        "description": "The background removal model to use",
                                        "type": "string",
                                        "example": "RMBG-1.4"
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img-rmbg/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for image background removal inference",
                "operationId": "requestPriceForImgRemoveBg",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image background removal parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "required": [
                                            "image",
                                            "model"
                                        ],
                                        "properties": {
                                            "image": {
                                                "description": "Image file to remove background from. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                                "type": "string",
                                                "format": "binary"
                                            },
                                            "model": {
                                                "description": "The background removal model to use",
                                                "type": "string",
                                                "example": "RMBG-1.4"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "required": [
                                            "width",
                                            "height",
                                            "model"
                                        ],
                                        "properties": {
                                            "width": {
                                                "description": "Width of image in pixels for price calculation",
                                                "type": "integer",
                                                "example": 1920
                                            },
                                            "height": {
                                                "description": "Height of image in pixels for price calculation",
                                                "type": "integer",
                                                "example": 1080
                                            },
                                            "model": {
                                                "description": "The background removal model to use",
                                                "type": "string",
                                                "example": "RMBG-1.4"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for image background removal inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img-upscale": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for requesting image upscaling inference",
                "operationId": "requestImgUpscale",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image upscaling parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "model"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Image file to upscale. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "model": {
                                        "description": "The upscaling model to use",
                                        "type": "string",
                                        "example": "RealESRGAN_x4plus"
                                    },
                                    "webhook_url": {
                                        "description": "Optional HTTPS URL to receive webhook notifications for job status changes (processing, completed, failed). Must be HTTPS. Max 2048 characters. See [Webhook Documentation](/execution-modes-and-integrations/webhooks) for payload structure and authentication details.",
                                        "type": "string",
                                        "format": "uri",
                                        "maxLength": 2048,
                                        "example": "https://your-server.com/webhooks/dryapi",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/img-upscale/price-calculation": {
            "post": {
                "tags": [
                    "Client API"
                ],
                "description": "Endpoint for calculating price for image upscaling inference",
                "operationId": "requestPriceForImgUpscale",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image upscaling parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "required": [
                                            "image",
                                            "model"
                                        ],
                                        "properties": {
                                            "image": {
                                                "description": "Image file to upscale. Supported formats: JPG, JPEG, PNG, GIF, BMP, WebP. Maximum file size: 10 MB.",
                                                "type": "string",
                                                "format": "binary"
                                            },
                                            "model": {
                                                "description": "The upscaling model to use",
                                                "type": "string",
                                                "example": "RealESRGAN_x4plus"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "required": [
                                            "width",
                                            "height",
                                            "model"
                                        ],
                                        "properties": {
                                            "width": {
                                                "description": "Width of image in pixels for price calculation",
                                                "type": "integer",
                                                "example": 1920
                                            },
                                            "height": {
                                                "description": "Height of image in pixels for price calculation",
                                                "type": "integer",
                                                "example": 1080
                                            },
                                            "model": {
                                                "description": "The upscaling model to use",
                                                "type": "string",
                                                "example": "RealESRGAN_x4plus"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for image upscaling inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
[...]
